.btn{
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 34px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover{
  background: transparent;
}
